@media screen and (max-width:1400px) {
    #profile{
        height: 90vh;
        margin-bottom: 6rem;
    }

    .about-container{
        flex-wrap: wrap;
    }
    
}
@media screen and (max-width:1200px) {
    #desktop-nav{
        display: none;
    }

    #hamburger-nav{
        display: flex;
    }
    
    #experience,.experience-details-container{
        margin-top: 2rem;
    }

    #profile,.section-container{
        display: block;
        height: 600px;
    }

    .arrow{
        display: none;
    }

    section,.section-container{
        height: fit-content;
    }

    section{
        margin: 0 5%;
    }

    .section__pic-container{
        width: 285px;
        height: 265px;
        margin: 0 auto 2rem;
    }
    .section__pic-containers{
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }

    .about-containers{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 40px;
    }
}

@media screen and (max-width: 600px){
    #contact,
    footer{
        height: 40vh;
    }

    #profile{
        height: 83vh;
        margin-bottom: 0;
    }

    article{
        font-size: 1rem;
    }

    footer nav{
        height: fit-content;
        margin-bottom: 2rem;
    }

    .about-containers,
    .contact-Info-upper-container,
    .btn-container{
        flex-wrap: wrap;
    }

    .contact-info-container{
        margin: 15px;
    }

    .contact-info-container p,
    .nav-links li a{
        font-size: 1rem;
    }

    .experience-sub-title{
        font-size: 1.5rem;
    }

    .logo{
        font-size: 1.5rem;
    }

    .nav-links{
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }

    .section__pic-containers{
        width: auto;
        height: 80vw;
        margin: 20px;
        justify-content: center;
    }

    .section__text__p2{
        font-size: 1.25rem;
    }

    .title{
        font-size: 2rem;
    }

    .text-container{
        text-align: justify;
    }
}